assets/

/view/index.php
/view/mostrar.php
/view/image.php

/controller/showRegistry.php
/controller/deletarContaController.php
/controller/atualizarContaController.php

/public/styles/style.css
index.php
