assets/

src/

/view/index.php
/view/mostrar.php
/view/image.php
/view/styles/

/controller/add.php
/controller/delete.php
/controller/update.php
/controller/showRegistry.php
/controller/qrCode.php

index.php