#box {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}
  #boxImg {
    width: 40%;
    height: 60%;
    position: relative;
  }

  #boxImg #plan {
    max-width: 80%;
    max-height: 80%;
    position: relative;
}

#boxBtnDelete {
  width: 15%;
  position: absolute;
  left: 65%;
  z-index: 1;
}

#boxBtnDelete button {
  width: 100%;
  background: transparent;
  border: none;
}

#boxBtnDelete img{
  width: 80%;
  margin: 0 auto;
  cursor: pointer;
}

#validate {
  margin-top: 2%;
}

#validate  input:not(.browser-default):focus:not([readonly]) {
  border-bottom: 1px solid #5c6bc0 ;
  box-shadow: 0 1px 0 0 #5c6bc0;
}
#validate  input:not(.browser-default):focus:not([readonly]) + label {
  color: #5c6bc0 !important;
  font-weight: 800;
}
.input-field > label {
  color: #4F5459;
  font-size: 1.3em;
}

.dropdown-content li > a, .dropdown-content li > span {
  color: #7986cb;
}

input:disabled, .infoUser {
  background-color: transparent;
  border: none;
  color: #000000;
}

table {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0 auto;
  border-collapse: collapse;
}
th{
  background-color: #629B9F;
}

th,td {
  padding: 6px;
  border: 2px solid #DCE0E4;
  color: #3E4245;
}

tr:nth-child(even) {
  background-color: #BCCACB;
}


.text {
  border-radius: 20px;
  color: #ffeb3b !important;
  font-weight: 600;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.alert {
  border-radius: 20px;
  background: rgba(248, 85, 57, 0.815) ;
  color: #f0eedb !important;
  font-weight: 600;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

span#length {
  float: right;
}

.btn {
  font-weight: 600;
}