/* @author Marcio Alemão */

/* --- Variáveis --- */
:root {
  --blue-dark: #12242e;
  --blue-dark-1: #173140;
  --blue-night: #0E1E27;
  --red-wine:  #801212;
  --green-light: #0CFC43;
  --green-dark: #28D750;
  --eco-primary: #4e73df;
  --eco-secondary: #858796;
  --eco-success:  #1cc88a;
  --eco-info: #36b9cc;
  --eco-warning: #f6c23e;
  --eco-danger: #e74a3b;
  --eco-light: #f8f9fc;
  --eco-dark: #5a5c69;
  --eco-purple: #6f42c1;
  --eco-indigo: #6610f2;
  --eco-orange: #FF7C1D;
  --eco-cyan: #22cf9b;
  --eco-teal: #24b0c5;
}

/* --- Font-sizes --- */
.font-size-1em {font-size: 1em;}
.font-size-1-1em {font-size: 1.1em;}
.font-size-1-2em {font-size: 1.2em;}
.font-size-1-3em{font-size: 1.3em;}
.font-size-1-4em{font-size: 1.4em;}
.font-size-1-5em { font-size: 1.5em; }

/* --- Text --- */
.text-weight-500 { font-weight: 500; }
.text-weight-600 { font-weight: 600; }
.text-weight-700 { font-weight: 700; }
.text-weight-800 { font-weight: 800; }
.text-red-wine { color: var(--red-wine); }
.text-red-wine-light-1 { color: rgb(161, 52, 52); }
.text-red-wine-light-2 { color: rgb(153, 42, 42); }
.text-uppercase{text-transform: uppercase;}


/* --- Background Color --- */
.bg-blue-dark { background-color: var(--blue-dark) !important; }
.bg-blue-dark-1 {background-color: var(--blue-dark-1) !important; }
.bg-blue-night {background-color: #0E1E27 !important; }
.bg-dark-transparent { background-color: rgba(22, 22, 21, 0.63);}
.bg-dark-2 {background-color: #29242a !important;}
.bg-dark-3 {background-color: #2d3238 !important;}
.bg-light-1 { background-color: rgb(243, 243, 243);}
.bg-green-dark { background-color: var(--green-dark) }
.bg-green-dark:hover { background-color: #27E753; }
.bg-success-light { background-color: #1cc88a;}
.bg-success-light:hover { background-color: #1cb980;}
.bg-red-wine { background-color: var(--red-wine) !important;}
.bg-red-wine:hover {background-color: rgb(139, 18, 18) !important;}
.bg-orange { background-color: var(--orange);}
.bg-purple { background-color: var(--eco-purple)}
.bg-indigo { background-color: var(--eco-indigo)}
.bg-cyan {background-color: var(--eco-cyan);}
.bg-teal {background-color: var(--eco-teal);}
.bg-red-google { background-color: #db4a39;}

/*Background Gradient gradient */
.bg-gradient-primary{background-color:var(--eco-primary);background-image:linear-gradient(180deg,var(--eco-primary) 10%,#224abe 100%);background-size:cover}
.bg-gradient-secondary{background-color:var(--eco-secondary);background-image:linear-gradient(180deg,var(--eco-secondary) 10%,#60616f 100%);background-size:cover}
.bg-gradient-success{background-color:var(--eco-success);background-image:linear-gradient(180deg,var(--eco-success) 10%,#13855c 100%);background-size:cover}
.bg-gradient-info{background-color:var(--eco-info);background-image:linear-gradient(180deg,var(--eco-info) 10%,#258391 100%);background-size:cover}
.bg-gradient-warning{background-color:var(--eco-warning);background-image:linear-gradient(180deg,var(--eco-warning) 10%,#dda20a 100%);background-size:cover}
.bg-gradient-danger{background-color:var(--eco-danger);background-image:linear-gradient(180deg,var(--eco-danger) 10%,#be2617 100%);background-size:cover}
.bg-gradient-light{background-color:var(--eco-light);background-image:linear-gradient(180deg,var(--eco-light) 10%,#c2cbe5 100%);background-size:cover}
.bg-gradient-dark{background-color:var(--eco-dark);background-image:linear-gradient(180deg,var(--eco-dark) 10%,#373840 100%);background-size:cover}
.bg-gradient-purple {background-color: var(--eco-purple); background-image:linear-gradient(180deg,var(--eco-purple) 10%,#5F32B2 100%);background-size:cover}
.bg-gradient-indigo {background-color: var(--eco-indigo); background-image:linear-gradient(180deg,var(--eco-indigo) 10%,#863CFF 100%);background-size:cover}

/* --- Borders ---*/
.border-none {border: none; }
.border-green-dark-1 {border: 2px solid var(--green-dark)}
.border-radius-30 {border-radius: .30rem !important;}
.border-left-primary{border-left:.25rem solid var(--eco-primary) }
.border-bottom-primary{border-bottom:.25rem solid var(--eco-primary) }
.border-left-secondary{border-left:.25rem solid var(--eco-secondary) }
.border-bottom-secondary{border-bottom:.25rem solid var(--eco-secondary)  }
.border-left-success{border-left:.25rem solid var(--eco-success) }
.border-bottom-success{border-bottom:.25rem solid var(--eco-success) }
.border-left-info{border-left:.25rem solid var(--eco-info) ;}
.border-bottom-info{border-bottom:.25rem solid var(--eco-info) }
.border-left-warning{border-left:.25rem solid var(--eco-warning) }
.border-bottom-warning{border-bottom:.25rem solid var(--eco-warning) }
.border-left-danger{border-left:.25rem solid var(--eco-danger) }
.border-bottom-danger{border-bottom:.25rem solid var(--eco-danger) }
.border-left-light{border-left:.25rem solid var(--eco-light) }
.border-bottom-light{border-bottom:.25rem solid var(--eco-light) }
.border-left-dark{border-left:.25rem solid var(--eco-dark) }
.border-left-dark{border-left:.25rem solid var(--eco-dark) }
.border-bottom-blue-dark{border-bottom:.25rem solid var(--blue-dark) }
.border-bottom-blue-dark{border-bottom:.25rem solid var(--blue-dark) }
.border-left-purple{border-left:.25rem solid var(--eco-purple) }
.border-bottom-purple{border-bottom:.25rem solid var(--eco-purple) }
.border-left-indigo{border-left:.25rem solid var(--eco-indigo) }
.border-bottom-indigo{border-bottom:.25rem solid var(--eco-indigo) }

/* --- Shadow --- */
.inset-shadow {box-shadow: inset 0 1px 3px rgb(211, 211, 211);}
.shadow-dark { box-shadow: 0px -2px 10px rgba(51, 51, 51, 0.815); }
.shadow-top { box-shadow: 0px 2px 10px rgba(46, 46, 46, 0.678); }

/* --- Buttons --- */
.btn-circle{border-radius:100%;height:2.5rem;width:2.5rem;font-size:1rem;display:inline-flex;align-items:center;justify-content:center}
.btn-bg-shadow-hover:hover{background-image:-moz-linear-gradient(transparent,#0000000d 40%,#0000001a);background-image:-webkit-linear-gradient(transparent,#0000000d 40%,#0000001a);background-image:-o-linear-gradient(transparent,#0000000d 40%,#0000001a);background-image:linear-gradient(transparent,#0000000d 40%,#0000001a);}
.btn-bg-shadow{background-image:-moz-linear-gradient(transparent,#0000000d 40%,#0000001a);background-image:-webkit-linear-gradient(transparent,#0000000d 40%,#0000001a);background-image:-o-linear-gradient(transparent,#0000000d 40%,#0000001a);background-image:linear-gradient(transparent,#0000000d 40%,#0000001a)}
.btn.btn-shadow { box-shadow: inset 0 -2px 5px rgba(0, 0, 0, 0.315);}

/* --- Text Color --- */
.text-green-dark { color: var(--green-dark);}
.text-green-dark-2 { color: var(--green-dark);}
.text-red-wine { color: var(--red-wine) !important;}

/* ---  Posicionamento --- */
.bottom-25 { bottom: 25%; }
.top-25 { bottom: 25%; }
.left-25 { left: 25%; }
.right-25 { right: 25% }

/* --- Icons --- */
.icon-circle{height:2.5rem;width:2.5rem;border-radius:100%;display:flex;align-items:center;justify-content:center}

/* --- outros --- */
.pointer {cursor: pointer;}
.z-index-1000 {z-index: 5000;}
.remove-focus:focus { box-shadow: none !important;}/* --- Remove o focus do bootstrap ---*/
.overflow-h { overflow: hidden !important;}
.img { width: 100%; height: 100%; object-fit: cover; }
.icon-google { font-size: 1.6em;  vertical-align: middle; }
.text-decoration-none { text-decoration: none;}
.text-decoration-none:hover { text-decoration: none;}
.progress-sm { height: .5em;}
.t-10 { top: 5%;}

/* --- Atribuir classes para viewport --- */

@media (max-width: 575.98px) { 
  .d-xm-none{display: none; }
  .position-xm-relative { position: relative; }
  .top-xm-0 {top: 0; }
  .top-xm-5 { top: 25%; }
  .top-xm-50 { top: 50%; }
  .right-xm-0 {right: 0;}
  .right-xm-5 {right: 5%; }
  .right-xm-50 {right: 50%; }
  .bottom-xm-0 { bottom: 0; }
  .bottom-xm-5 { bottom: 5%; }
  .bottom-xm-8 { bottom: 50%; }
  .left-xm-0 {left: 0;}
  .left-xm-5 {left: 5%; }
  .left-xm-50 {left: 50%; }

  .text-weight-xm-500 { font-weight: 500; }
  .text-weight-xm-600 { font-weight: 600; }
  .text-weight-xm-700 { font-weight: 700; }
  .text-weight-xm-800 { font-weight: 800; }

  .font-size-xm-9em {font-size: .9em;}
  .font-size-xm-1em {font-size: 1em;}
  .font-size-xm-1-1em {font-size: 1.1em;}
  .font-size-xm-1-2em {font-size: 1.2em;}
  .font-size-xm-1-3em{font-size: 1.3em;}
  .font-size-xm-1-4em{font-size: 1.4em;}
  .font-size-xm-1-5em { font-size: 1.5em; }

  .border-xm-none{border: none; }
  .border-xm-none{border: none; }
  .border-top-xm-nome{border-top: none; }
  .border-right-xm-nome{border-right: none; }
  .border-bottom-xm-nome{border-bottom: none; }
  .border-left-xm-none{border-left: none; }

  .position-alert{ position: absolute; top: 1em; right: auto;left: auto;}
  .t-10 { top: 0;}

  .h-xm-25 {height: 25%;}
  .h-xm-50 {height: 50%;}
  .h-xm-75 {height: 75%;}
  .h-xm-100 {height: 100%;}

  .w-xm-25 {width: 25%;}
  .w-xm-50 {width: 50%;}
  .w-xm-75 {width: 75%;}
  .w-xm-100 {width: 100%;}
}

/* Dispositivos small (telefones em modo paisagem, com 576px ou mais) */
@media (min-width: 576px) and (max-width: 767.98px) { 
  .position-sm-relative { position: relative; }
  .top-sm-0 {top: 0; }
  .top-sm-5 { top: 25%; }
  .top-sm-50 { top: 50%; }
  .right-sm-0 {right: 0;}
  .right-sm-5 {right: 5%; }
  .right-sm-50 {right: 50%; }
  .bottom-sm-0 { bottom: 0; }
  .bottom-sm-5 { bottom: 5%; }
  .bottom-sm-8 { bottom: 50%; }
  .left-sm-0 {left: 0;}
  .left-sm-5 {left: 5%; }
  .left-sm-50 {left: 50%; }

  .text-weight-sm-500 { font-weight: 500; }
  .text-weight-sm-600 { font-weight: 600; }
  .text-weight-sm-700 { font-weight: 700; }
  .text-weight-sm-800 { font-weight: 800; }

  .font-size-sm-9em {font-size: .9em;}
  .font-size-sm-1em {font-size: 1em;}
  .font-size-sm-1-1em {font-size: 1.1em;}
  .font-size-sm-1-2em {font-size: 1.2em;}
  .font-size-sm-1-3em{font-size: 1.3em;}
  .font-size-sm-1-4em{font-size: 1.4em;}
  .font-size-sm-1-5em { font-size: 1.5em; }

  .border-sm-none{border: none; }
  .border-sm-none{border: none; }
  .border-top-sm-nome{border-top: none; }
  .border-right-sm-nome{border-right: none; }
  .border-bottom-sm-nome{border-bottom: none; }
  .border-left-sm-none{border-left: none; }

  .position-alert{ position: absolute; top: 1em; right: auto;left: auto;}
  .t-10 { top: 0;}

  .h-sm-25 {height: 25%;}
  .h-sm-50 {height: 50%;}
  .h-sm-75 {height: 75%;}
  .h-sm-100 {height: 100%;}

  .w-sm-25 {width: 25%;}
  .w-sm-50 {width: 50%;}
  .w-sm-75 {width: 75%;}
  .w-sm-100 {width: 100%;}
}

/* Dispositivos médios (tablets com 768px ou mais) */
@media (min-width: 768px) and (max-width: 991.98px) { 
  .position-md-relative { position: relative; }
  .top-md-0 {top: 0; }
  .top-md-5 { top: 25%; }
  .top-md-50 { top: 50%; }
  .right-md-0 {right: 0;}
  .right-md-5 {right: 5%; }
  .right-md-50 {right: 50%; }
  .bottom-md-0 { bottom: 0; }
  .bottom-md-5 { bottom: 5%; }
  .bottom-md-8 { bottom: 50%; }
  .left-md-0 {left: 0;}
  .left-md-5 {left: 5%; }
  .left-md-50 {left: 50%; }

  .text-weight-md-500 { font-weight: 500; }
  .text-weight-md-600 { font-weight: 600; }
  .text-weight-md-700 { font-weight: 700; }
  .text-weight-md-800 { font-weight: 800; }

  .font-size-md-9em {font-size: .9em;}
  .font-size-md-1em {font-size: 1em;}
  .font-size-md-1-1em {font-size: 1.1em;}
  .font-size-md-1-2em {font-size: 1.2em;}
  .font-size-md-1-3em{font-size: 1.3em;}
  .font-size-md-1-4em{font-size: 1.4em;}
  .font-size-md-1-5em { font-size: 1.5em; }

  .border-md-none{border: none; }
  .border-md-none{border: none; }
  .border-top-md-nome{border-top: none; }
  .border-right-md-nome{border-right: none; }
  .border-bottom-md-nome{border-bottom: none; }
  .border-left-md-none{border-left: none; }

  .position-alert{ position: absolute; top: 1em; right: auto;left: auto;}
  .t-10 { top: 8%;}


  .h-md-25 {height: 25%;}
  .h-md-50 {height: 50%;}
  .h-md-75 {height: 75%;}
  .h-md-100 {height: 100%;}

  .w-md-25 {width: 25%;}
  .w-md-50 {width: 50%;}
  .w-md-75 {width: 75%;}
  .w-md-100 {width: 100%;}
}

/* Dispositivos large (desktops com 992px ou mais) */
@media (min-width: 992px) and (max-width: 1199.98px) { 
  .position-lg-relative { position: relative; }
  .top-lg-0 {top: 0; }
  .top-lg-5 { top: 25%; }
  .top-lg-50 { top: 50%; }
  .right-lg-0 {right: 0;}
  .right-lg-5 {right: 5%; }
  .right-lg-50 {right: 50%; }
  .bottom-lg-0 { bottom: 0; }
  .bottom-lg-5 { bottom: 5%; }
  .bottom-lg-8 { bottom: 50%; }
  .left-lg-0 {left: 0;}
  .left-lg-5 {left: 5%; }
  .left-lg-50 {left: 50%; }

  .text-weight-lg-500 { font-weight: 500; }
  .text-weight-lg-600 { font-weight: 600; }
  .text-weight-lg-700 { font-weight: 700; }
  .text-weight-lg-800 { font-weight: 800; }

  .font-size-lg-9em {font-size: .9em;}
  .font-size-lg-1em {font-size: 1em;}
  .font-size-lg-1-1em {font-size: 1.1em;}
  .font-size-lg-1-2em {font-size: 1.2em;}
  .font-size-lg-1-3em{font-size: 1.3em;}
  .font-size-lg-1-4em{font-size: 1.4em;}
  .font-size-lg-1-5em { font-size: 1.5em; }
  
  .border-lg-none{border: none; }
  .border-lg-none{border: none; }
  .border-top-lg-nome{border-top: none; }
  .border-right-lg-nome{border-right: none; }
  .border-bottom-lg-nome{border-bottom: none; }
  .border-left-lg-none{border-left: none; }

  .position-alert{ position: absolute; top: 1em; right: 1em;}

  .h-lg-25 {height: 25%;}
  .h-lg-50 {height: 50%;}
  .h-lg-75 {height: 75%;}
  .h-lg-100 {height: 100%;}

  .w-lg-25 {width: 25%;}
  .w-lg-50 {width: 50%;}
  .w-lg-75 {width: 75%;}
  .w-lg-100 {width: 100%;}
}

/* Dispositivos extra large (desktops grandes com 1200px ou mais) */
@media (min-width: 1200px) { 
  .position-xl-relative { position: relative; }
  .top-xl-0 {top: 0; }
  .top-xl-5 { top: 25%; }
  .top-xl-50 { top: 50%; }
  .right-xl-0 {right: 0;}
  .right-xl-5 {right: 5%; }
  .right-xl-50 {right: 50%; }
  .bottom-xl-0 { bottom: 0; }
  .bottom-xl-5 { bottom: 5%; }
  .bottom-xl-8 { bottom: 50%; }
  .left-xl-0 {left: 0;}
  .left-xl-5 {left: 5%; }
  .left-xl-50 {left: 50%; }

  .text-weight-xl-500 { font-weight: 500; }
  .text-weight-xl-600 { font-weight: 600; }
  .text-weight-xl-700 { font-weight: 700; }
  .text-weight-xl-800 { font-weight: 800; }

  .font-size-xl-9em {font-size: .9em;}
  .font-size-xl-1em {font-size: 1em;}
  .font-size-xl-1-1em {font-size: 1.1em;}
  .font-size-xl-1-2em {font-size: 1.2em;}
  .font-size-xl-1-3em{font-size: 1.3em;}
  .font-size-xl-1-4em{font-size: 1.4em;}
  .font-size-xl-1-5em { font-size: 1.5em; }

  .border-xl-none{border: none; }
  .border-top-xl-nome{border-top: none; }
  .border-right-xl-nome{border-right: none; }
  .border-bottom-xl-nome{border-bottom: none; }
  .border-left-xl-none{border-left: none; }

  .position-alert{ position: absolute; top: 1em; right: 4em;}

  .h-xl-25 {height: 25%;}
  .h-xl-50 {height: 50%;}
  .h-xl-75 {height: 75%;}
  .h-xl-100 {height: 100%;}

  .w-xl-25 {width: 25%;}
  .w-xl-50 {width: 50%;}
  .w-xl-75 {width: 75%;}
  .w-xl-100 {width: 100%;}
}