/* @author Marcio Alemão */
.text-weight-800 { font-weight: 800; }

.font-size-1em {font-size: 1em;}

.font-size-1-1em {font-size: 1.1em;}

.font-size-1-2em {font-size: 1.2em;}

.font-size-1-5em { font-size: 1.5em; }


.btn-rounded {border-radius: 10px;}

.text-weight-500 { font-weight: 500; }
.text-weight-600 { font-weight: 600; }
.text-weight-700 { font-weight: 700; }
.text-weight-800 { font-weight: 800; }
.text-red-wine { color: rgb(128, 18, 18); }
.text-red-wine-light-1 { color: rgb(161, 52, 52); }
.text-red-wine-light-2 { color: rgb(141, 36, 36); }


/* --- Background Color --- */

.bg-green-dark-1 { background-color: #204839; }
.bg-green-dark-1:hover { background-color: #346b57; }
.bg-red-wine { background-color: rgb(128, 18, 18);}

.bg-red-wine:hover {background-color: rgb(139, 18, 18);}


/* --- Borders ---*/
.border-green-dark-1 {border: 2px solid #28a745}
/* --- Text Color --- */

.text-green-dark { color: #1D5842;}
.text-green-dark-2 { color: #398468;}
.text-red-wine { color: rgb(128, 18, 18) !important;}

/* --- Buttons Colors ---*/
.btn-color-red { background: #ea4335; }
.main-btn {
  background-color: rgb(128, 18, 18);
  color: #ffffff;
  text-transform: uppercase;
  border-radius: 30px;
  border: 2px solid#28a745;
  transition: .5s;
  display: inline-block;
  font-weight: 500;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  cursor: pointer;
}

.main-btn:hover { text-decoration: none;}

/* --- Remove o focus do bootstrap ---*/

.remove-focus:focus { box-shadow: none !important;}

/* ---  Posicionamento --- */

.bottom-25 { bottom: 25%; }

.top-25 { bottom: 25%; }

.left-25 { left: 25%; }

.right-25 { right: 25% }




/* --- Atribuir classes para viewport --- */

/* Dispositivos small (telefones em modo paisagem, com 576px ou mais) */
@media (min-width: 576px) { 
  .bottom-sm-0 { bottom: 0; }
}

/* Dispositivos médios (tablets com 768px ou mais) */
@media (min-width: 768px) { 
  .bottom-md-0 { bottom: 0; }
  .bottom-sm-25 { bottom: 25%; }
  .bottom-sm-50 { bottom: 50%; }
  .position-sm-relative { position: relative; }
}

/* Dispositivos large (desktops com 992px ou mais) */
@media (min-width: 992px) { 
  .bottom-lg-0 { bottom: 0; }
  .bottom-lg-25 {bottom: 25%;}
  .bottom-lg-50 {bottom: 50%;}
  .position-lg-relative { position: relative; }

}

/* Dispositivos extra large (desktops grandes com 1200px ou mais) */
@media (min-width: 1200px) { 
  .bottom-xl-0 { bottom: 0; }
  .bottom-xl-25 { bottom: 25%; }
  .bottom-xl-50 { bottom: 50%; }
  .position-xl-relative { position: relative; }

}