.alert {
    border-radius: 7px;
    background: rgba(67, 55, 83, 0.932) ;
    color: #e7e6de !important;
    font-weight: 600;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.formError { 
    border-color: #ee3211;
    outline: 0;
    box-shadow: 0 0 0 .2rem rgba(243, 42, 7, 0.473);
 }

.span#length {
    float: right;
    color: #7986cb;
}