.register-form h1 {
  font-size: 42px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 150px 0px;
  line-height: 60px;
}
.register-form .form-control {
  border: none;
  background: none;
  border-bottom: 1px solid rgb(128, 18, 18);
  border-radius: 0px !important;
  color: #fff;
}
.register-form .form-control:focus,
.register-form .form-control:hover{
border:none;
margin: 0 auto;
background: none;
box-shadow: none;
border-bottom: 1px solid #fff;
color: #fff;
}
.custom-select {
  border: none;
  background: none;
  border-bottom: 1px solid rgb(128, 18, 18) !important;
  color: #fff;
}

.btn{
  background-color: rgb(128, 18, 18);
}
.container{
  background-color: rgb(81, 153, 81);
}
