body,html { padding: 0; margin: 0;}

/* --- Menu navegação ---*/s
.layout-navbar,.navigation  { width: 81px; height: 100vh; }

/* --- Conteúdo da página ---*/
main,.container-header { max-width: 100%; width: 100%; }
.content { width: 100%; height: 88vh; }

.nav-link{border-radius:100%;}

.nav-hover:hover{
  color:#0fa7ff !important;
  background-color:#275b79;
}
.nav-index { color:#0fa7ff !important;}

/* --- Medias para diversos tamanho de devices --- */